<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Transaksi</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Daftar Transaksi</h1>

    <table>
        <thead>
        <tr>
            <th>Waktu Transaksi</th>
            <th>Keterangan</th>
            <th>Nilai</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>12-Mar-2020 20:20:11</td>
            <td>Setoran Tunai</td>
            <td>100.000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>