<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Aplikasi Monitoring Transaksi</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/aplikasi.css}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{/transaksi/list}">Daftar Transaksi</a>
        &nbsp; | &nbsp;
        <a sec:authorize="hasAuthority('Administrator')"
           class="p-2 text-dark" th:href="@{/switchuser/select}">Ganti User</a>
        &nbsp; | &nbsp;
        <a sec:authorize="hasAuthority('Administrator')"
           class="p-2 text-dark" th:href="@{/switchuser/auditlog}">Audit Log</a>
        &nbsp; | &nbsp;
        <a sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')"
           class="p-2 text-dark" th:href="@{/switchuser/exit}">Kembali ke Admin</a>
    </nav>
    | &nbsp; Hello, <span th:text="${#authentication.name}">current user</span>
    &nbsp; &nbsp; &nbsp;
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-outline-primary" value="Logout" />
    </form>
</div>

<div class="container">
    <div layout:fragment="content">
        Nanti content di sini
    </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>